<ion-view view-title="Chat">
    
	<style type="text/css">
		.chatMessages {
			top:43px;
			bottom:160px;
		}
		
		.chatFooter {
			position:absolute;
			bottom:0;
			text-align:center;
			width:100%;
			height:158px;
        }
		
		.myMessage {
			background-color: #11c1f3; 
			padding:3px;
		}
		
		.partnerMessage {
			background-color: #33cd5f;
			padding:3px;
		}
	</style>
    
  <ion-content class="chatMessages">
    <ion-list>
        <div class="item item-body">
            
            <div class="list card partnerMessage">
                <div class="item item-body">
                    <div>
                        <p>This is a fake message, hard-coded directly into the html</p>
                    </div>
                </div>
            </div>
        
            <div class="list card myMessage">
                <div class="item item-body">
                    <div>
                        <p>What do you mean, "hard-coded"?</p>
                    </div>
                </div>
            </div>
        
            <div class="list card partnerMessage">
                <div class="item item-body">
                    <div>
                        <p>I mean that the text for these messages is written in the html
                            file, not in the Firebase database, or even in a mock database.
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="list card myMessage">
                <div class="item item-body">
                    <div>
                        <p>So the javascipt isn't updating it? It's just written into 
                            /www/templates/tab-chats.html ?
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="list card partnerMessage">
                <div class="item item-body">
                    <div>
                        <p>Word</p>
                    </div>
                </div>
            </div>
            
        </div> 
    </ion-list>
  </ion-content>
  
  <div class="chatFooter">
		<form>
			<label class="item item-input">
				<span class="input-label">Message</span>
				<textarea ng-model="newMessageText" placeholder="hello"></textarea>
			</label>
		</form>
		<form class="list">
			<button ng-click="" class="button button-positive button-block ">Send</button>
		</form>
	</div>
</ion-view>
