<ion-view view-title="Chat">
    
	<style type="text/css">
		.chatMessages {
			top:43px;
			bottom:160px;
		}
		
		.chatFooter {
			position:absolute;
			bottom:0;
			text-align:center;
			width:100%;
			height:158px;
        }
		
		.myMessage {
			background-color: #11c1f3; 
			padding:3px;
		}
		
		.partnerMessage {
			background-color: #33cd5f;
			padding:3px;
		}
	</style>
    
  <ion-content class="chatMessages">
    <ion-list>
      <div class="item item-body">
                <div ng-repeat="message in messages" ng-class="getColor(message)" class="list card">
                    <div class="item item-body">
                        <div>
                            <p>{{message.message}}</p>
                        </div>
                    </div>
                </div>
            </div>
    </ion-list>
  </ion-content>
  
  <div class="chatFooter">
		<form>
			<label class="item item-input">
				<span class="input-label">Message</span>
				<textarea ng-model="newMessageText" placeholder="hello"></textarea>
			</label>
		</form>
		<form class="list">
			<button ng-click="addMessage(newMessageText)" class="button button-positive button-block ">Send</button>
		</form>
	</div>
</ion-view>
